/* You can add global styles to this file, and also import other style files */

.text-center {
    text-align:center;
  }

.nav-bar-height{
    height: 100px;
}
.nav-under-bar-height{
    height: 30px;
}
.link-text-color{
    color: rgba(0,0,0,.5);
}
.main-background {
    background-color: rgba(250, 252, 255);
    min-height: calc(100vh - 200px);
  }

  .main-fonts {
    font-weight:600;
    font-size: 12pt; 
  }

  .main-button button {
    background-color: #da1f4e;
    color: #ffffff;
    width: 304px;
    height: 40px;
    border:0;
    font-weight: bold;
    text-align: center;  
    /* margin: 12px 12px ; */
  }
  
  .main-button button:hover{
    color: #1a1737; 
  }
  
  .main-button button:active{
    color: #1a1737; 
  }
  
  .main-button button:disabled {
    opacity: .65;
  }
  .fa_asterisk {
    color: red;
    font-size: 12px;
  }